*
	margin 0
	padding 0

body
	font-family Nunito Sans
	
.center
	padding-left calc(50% - 860px)
	padding-right calc(50% - 860px)

.header_top
	padding-top 30px
	background-image url(../img/logo.svg)
	background-repeat no-repeat
	background-position: center
	
.header_top_1
	display flex
	justify-content: space-between



.header_top_1_left
	display flex
	font-weight: 400
	font-size: 13px
	line-height: 18px

.header_href
	width 378px
	padding-left 19px
	display flex
	justify-content space-between
	
.header_href a
	font-weight 700
	font-size 13px
	line-height 18px
	text-decoration none
	color: #2B2B2B
		
.heaader_top_1_right
	display flex

.hr-top
	display none

.header_top_2
	padding-top 30px
	padding-bottom 44px
	display flex
	justify-content space-between
		
	
.header_top_2_left
	display flex

.phone-teleg-viber
	display none

.direct
	padding-left 27px
	width 162px

.direct_t1
	font-weight: 700
	font-size: 14px
	line-height: 19px
	letter-spacing: 0.05em
	color: #2C75FF

.direct_t2
	font-weight: 400
	font-size: 13px
	line-height: 18px

.adress
	width 242px
	padding-left 8px
	font-weight: 400
	font-size: 13px
	line-height: 18px

.header_top_1_right
	width 544px
	display flex
	justify-content space-between

.header_top_1_right a
	text-decoration none
	font-weight: 400
	font-size: 13px
	line-height: 18px
	display: flex
	align-items: center
	letter-spacing: 0.03em
	color: #2B2B2B

.header_top_2_right
	display flex

.button_search
	width 338px
	border-style: none
	border-radius: 29.5px
	padding-left: 25px
	padding-right 6px
	display flex
	justify-content: space-between
	font-weight: 400
	font-size: 14px
	line-height: 19px
	align-items: center
	letter-spacing: 0.03em
	color: #2B2B2B

.abc_line
	display flex
	justify-content space-between
	background: #F5F5F5

.abc_line a
	padding-top 11px
	padding-bottom 12px
	text-decoration none
	font-weight: 800
	font-size: 14px
	line-height: 19px
	display: flex
	align-items: center
	color: #2B2B2B

.header_bottom
	padding-top 14px
	padding-bottom 17px
	display flex
	justify-content space-between

.header_bottom_left
	display flex

.header_bottom_left a
	padding-right 37px
	text-decoration none
	font-weight: 700
	font-size: 15px
	line-height: 20px
	color: #2B2B2B

.header_bottom_right
	display flex

.header_bottom_right a
	padding-left:  36px
	text-decoration none
	font-weight: 700
	font-size: 15px
	line-height: 20px
	color: #2B2B2B

.header_bottom_right a:nth-child(2n)
	color: #2C75FF

.header_bottom_right a:last-child
	color: #2C75FF
	
hr
	border 1px solid #CECECE

.ind-catal
	display flex
	margin-top 23px
	

.ind-catal a
	text-decoration none
	font-weight: 700
	font-size: 13px
	line-height: 18px
	color: #2B2B2B

.ind-catal p
	font-weight: 400
	font-size: 13px
	line-height: 18px

.conteiner
	display flex
	margin-top 35px

.img_filters
	height 1501px

.all-content
	padding-left 42px

.main-content
	display flex
	justify-content space-between

.heading_1
	padding-bottom 23px

.text_content_top
	max-width: 1351px
	font-weight: 300
	font-size: 18px
	line-height: 27px

.img_top
	display flex
	justify-content space-between
	padding-top 56px
	margin-bottom: 29px

.img_top_1
	width 889px
	height 266px
	

.img_top_2
	height: 266px
	width: 427px

.type_plit
	display flex
	flex-wrap: wrap

.type_plit a
	background #F5F5F5
	padding 8px 11px
	margin-top 18px
	margin-right 19px
	height: 25px
	font-weight: 700
	font-size: 14px
	line-height: 18px
	display: flex
	align-items: center
	text-align: center
	text-decoration none
	color: #2B2B2B

.button_filtres
	display flex
	justify-content space-around
	margin-top: 26px
	align-items center

.hr-content
	width 100%
	height 0.5px

.btn_1
	width: 151px
	height: 42px
	border-radius: 5px
	border: 1px solid #C4C4C4
	background: none
	font-weight: 400
	font-size: 12px
	line-height: 15px
	display: flex
	align-items: center
	justify-content center
	letter-spacing: 0.03em
	color: #2B2B2B

.btn_2
	background: #2B2B2B
	color: #FFFFFF
	
.btn_3
	display none

.filters
	display none

.content_1
	width 427px

.content_2
	width 427px

.content_3
	width 427px

.content-header 
	display flex
	margin-top: 43px
	
.p_ch_1
	width 50px
	height: 31px
	background: #2C75FF
	font-weight: 600
	font-size: 12px
	line-height: 15px
	display: flex
	justify-content: center
	align-items: center
	text-align: center
	letter-spacing: 0.03em
	color: #FFFFFF
	padding: 9px 4px 7px 4px
	
.p_ch_2
	min-width 84px
	min-height: 31px
	background: #2B2B2B
	font-weight: 600
	font-size: 12px
	line-height: 15px
	display: flex
	justify-content: center
	align-items: center
	text-align: center
	letter-spacing: 0.03em
	color: #FFFFFF
	
.p_ch_3
	min-width 52px
	min-height: 31px
	background: #F5F5F5
	font-weight: 600
	font-size: 12px
	line-height: 15px
	display: flex
	justify-content: center
	align-items: center
	text-align: center
	letter-spacing: 0.03em
	color: #2C75FF

.content_img
	height 359px
	background-repeat no-repeat

.content_img_1
	background-image: url(../img/card_1.png)

.content_img_2
	background-image: url(../img/card_2.png)

.content_img_3
	background-image: url(../img/card_3.png)

.content_footer
	display flex

.p_cf_1
	width: 223.5px
	min-height: 25px
	background: #F5F5F5
	font-weight: 600
	font-size: 11px
	line-height: 15px
	display: flex
	justify-content center
	align-items: center
	letter-spacing: 0.03em
	color: #2C75FF
	
.p_cf_2
	width: 223.5px
	min-height: 25px
	background: #2B2B2B
	font-weight: 400
	font-size: 11px
	line-height: 14px
	display: flex
	justify-content center
	align-items: center
	letter-spacing: 0.03em
	color: #FFFFFF
	margin-bottom: 0

.heading_content_text
	margin-top: 14px
	font-weight: 400
	font-size: 18px
	line-height: 23px
	letter-spacing: 0.03em
	color: #2B2B2B

.property_item
	display: flex
	margin-top: 6px
	
.country
	display flex
	padding-top 10px
	
.property_text
	font-weight: 400
	font-size: 13px
	line-height: 17px
	display: flex
	align-items: center
	letter-spacing: 0.03em
	color: #2B2B2B
	
.property_text_text
	font-weight: 700
	font-size: 13px
	line-height: 17px
	display: flex
	align-items: center
	letter-spacing: 0.03em
	color: #2B2B2B
	

.style
	display flex
	padding-top 3px
	padding-bottom 8px

.lips
	padding-left 61px
	
.medal
	padding-left 14px

.price-heart
	display flex
	justify-content: space-between
	margin-top 8px

.price
	display flex

.hr-content
	border: 1px solid #CECECE

.button_show
	border: none
	background: none
	font-weight: 700
	font-size: 14px
	line-height: 19px
	display: flex
	align-items: center
	letter-spacing: 0.03em
	color: #2B2B2B
	margin-top 64px
	display flex
	justify-content center

.btns-pages
	display flex
	justify-content center
	margin-top 49px
	margin-bottom: 91px

.btn-left
	border-style: none
	background none

.btns-center
	display flex
	padding-left 40px
	padding-right 40px
	margin-top: 0
	margin-bottom 0

.btn-right
	border-style: none
	background none

.btns-center
	padding-left 0

.nam-page
	margin auto
	padding-left 36px
	font-weight: 700
	font-size: 14px
	line-height: 18px
	letter-spacing: 0.03em
	color: #2B2B2B

.nam-active
	color: #2C75FF

.heading_2
	margin-top 81px

.text_content_flow
	max-width 878px
	margin-top 41px
	margin-bottom 96px
	font-weight: 300
	font-size: 16px
	line-height: 28px
	
.map-site
	height 383px
	display flex
	justify-content space-between
	padding-top 63px
	font-size: 14px
	letter-spacing: 0.03em
	color: #2B2B2B

.map-site-text-1
	text-decoration none
	font-weight: 700
	line-height: 19px
	
.map-site-text-2
	padding-top 18px
	text-decoration none
	font-weight: 400
	line-height: 36px
	

.li-map-style
	list-style-type: none
	display block

.mail
	padding-top 12px

.w_t
	margin-top 32px
	margin-bottom 12px

.time
	padding-top 14px

.vk
	padding-top 11px

.youtube
	padding-top 13px
	padding-left 31px

.pay-text
	padding-top 45px

.pay
	padding-top 8px

.footer
	background: #2B2B2B
	display flex
	font-weight: 300
	font-size: 14px
	line-height: 19px
	align-items: center
	letter-spacing: 0.03em
	color: #C4C4C4

.footer-1
	display flex

.footer-1-1
	display flex
	
.footer-2
	display flex

.footer-3
	display flex

.hr-footer
	height 60px
	color #2B2B2B
.footer-t1
	padding-top 48px
	padding-bottom 48px
	padding-left 58px

.footer-t2
	padding 48px 59px 48px 43px
			
.footer-t3
	padding 48px 45px 48px 56px

.footer-t4
	padding-top 48px
	padding-right 45px

.footer-t5
	padding-top 48px
	padding-right 56px

.footer-t6
	padding 48px 46px 48px 66px
 
@media (max-width 1660px) 

	.center
		padding-left calc(50% - 609px)
		padding-right calc(50% - 609px)

	.header_top
		padding-top 12px
		background-image: none

	.header_href
		padding-left 15px

	.header_top_2
		background-image url(../img/logo.svg)
		background-repeat no-repeat
		background-position: center

	.hr-top
		display block
		margin-top 11px

	.header_top_2
		padding-top: 0

	.header_top_2_left
		padding-top 24px

	.phone-teleg
		height 28px
	
	.header_top_2_right
		padding-top 36px

	.direct
		display none

	.button_search
		width 195px

	.header_bottom_left a
		font-size: 14px
		line-height: 19px

	.header_bottom_right a
		font-size: 14px
		line-height: 19px

	.adress
		padding-left 77px

	.text_content_top
		max-width: 879px
		font-size: 15px
		line-height: 21px

	.img_top
		padding-top 12px
		margin-bottom: 36px

	.img_top_1
		background-image url(../img/img_top_1.2.jpg)
		height: 266px
		width: 519px

	.img_top_2
		background-image url(../img/img_top_2.2.jpg)
		height: 266px
		width: 332px

	.heading_content_text
		margin-top: 20px

	
	.lips
		padding-left 30px

	.content_column_3
		display none

	.heading_2
		margin-top 45px

	.footer
		font-size: 13px
		line-height: 18px

	.footer-t1
		padding 42px 0 41px 23px
		white-space: nowrap;

	.footer-t2
		padding 42px 25px 41px 35px
		white-space: nowrap;
			
	.footer-t3
		padding 42px 21px 41px 23px
		white-space: nowrap;

	.footer-t4
		padding 42px 23px 41px 0
		white-space: nowrap;

	.footer-t5
		padding 42px 20px 41px 0
		white-space: nowrap;

	.footer-t6
		padding 36px 46px 37px 28px

@media (max-width 1284px)

	.center
		padding-left calc(50% - 476px)
		padding-right calc(50% - 476px)

	.header_top
		padding-top 12px
		background-image: none

	.header_top_1_left p 
		font-size: 11px
		line-height: 15px

	.header_href
		max-width: 311px
		padding-left 10px

	.header_href a
		font-size: 11px
		line-height: 15px

	.header_top_1_right
		width: 418px

	.header_top_1_right a
		font-weight: 400
		font-size: 11px
		line-height: 15px

	.header_top_2
		background-image url(../img/ivanna_1024.svg)
		background-repeat no-repeat
		background-position: center

	.hr-top
		display block
		margin-top 16px

	.header_top_2
		padding-top: 0

	.header_top_2_left
		padding-top 24px

	.phone-teleg
		display none

	.phone-teleg-viber
		display block
		height 25px
	
	.direct
		display none

	.adress
		padding-left 30px
		font-size: 12px
		line-height: 16px

	.header_top_2_right
		padding-top 32px

	.button_search
		width 176px

	.abc_line a
		font-weight: 800
		font-size: 12px
		line-height: 17px

	.header_bottom_left a
		font-size: 12px
		line-height: 16px
		max-width: 483px
		padding-right 19px

	.header_bottom_right a
		font-size: 12px
		line-height: 16px
		max-width: 429px
		padding-left: 15px

	.heading_1
		font-weight: 400
		font-size: 32px
		line-height: 33px
		padding-bottom 13px

	.text_content_top
		max-width: 615px
		max-height: 110px
		font-size: 15px
		line-height: 21px

	.img_top
		padding-top 45px
		margin-bottom: 39px

	.img_top_1
		background-image url(../img/img_top_1.3.jpg)
		height: 186px
		width: 374px

	.img_top_2
		background-image url(../img/img_top_2.3.jpg)
		height: 186px
		width: 231px

	.type_plit a
		font-weight: 700
		font-size: 13px
		line-height: 17px

	.button_filtres
		margin-top 62px

	.content-header
		margin-top 39px

	.content_img
		height 252px
		width 303px

	.content_img_1
		background-image: url(../img/card_1.mini.png)

	.content_img_2
		background-image: url(../img/card_4.mini.png)

	.p_cf_1
		width: 151.5px

	.p_cf_2
		width: 151.5px

	.heading_content_text
		margin-top: 17px
		font-size: 16px
		line-height: 20px

	.content_column_2
		padding-left 21px

	.content_column_3
		display none

	.property_item
		margin-top 13px

	.lips
		padding-left 20px

	.content_1
		width 303px

	.content_2
		width 303px

	.content_3
		width 303px

	.heading_2
		margin-top 45px

	.footer
		font-weight: 300
		font-size: 11px
		line-height: 15px

	.footer-1-1
		padding-left: 23px
		padding-right 20px
		flex-direction: column

	.footer-t1
		padding 0
		white-space: nowrap;

	.footer-t2
		padding 9px 0 0 0
		white-space: nowrap;
			
	.footer-t3
		padding 42px 21px 41px 23px
		white-space: nowrap;

	.footer-t4
		padding 42px 23px 41px 0
		white-space: nowrap;

	.footer-t5
		padding 42px 20px 41px 0
		white-space: nowrap;

	.footer-t6
		padding 36px 23px 37px 28px

	